<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.tdc.zuke_customer">

    <!-- permission -->
    <uses-permission android:name="android.permission.INTERNET" />
<!--<uses-permission android:name="android.permission.CALL_PHONE"/>-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBFY4VjmflzQlWy-MFdum-U8WwHk6_Lkng" />

        <!-- activitys -->
        <activity
            android:name=".activitys.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.OTPVerificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.ForgotPasswordChangeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activitys.FacebookAuthActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".activitys.HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activitys.ProfileScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activitys.EditProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activitys.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activitys.SupportActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activitys.IntroduceAppActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activitys.MapActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activitys.CartActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activitys.PaymentActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activitys.SearchActivity"
            android:theme="@style/MaterialTheme">
        </activity>


        <activity
            android:name=".activitys.FavoriteActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".activitys.NotificationActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".activitys.DetailProductActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activitys.ListCommentProductActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".activitys.HistoryOrderActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activitys.DetailHistoryOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.RatingActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".activitys.CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>